@{
  Layout = "_Layout";
}

@model Filmography.Models.Director

<header>
  <p id="list1"><strong>@Html.ActionLink("ADD NEW MOVIE", "Create", "Movies")</strong></p>
  <p id="list2"><strong>@Html.ActionLink("DIRECTORS", "Index")</strong></p>
</header>
<div id="push"></div>
<h2>Add a movie</h2>

<h4>Add a movie to this director: @Html.DisplayFor(model => model.DirectorName)</h4>

@if(ViewBag.movieList != 0)
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.DirectorId)

    @Html.Label("Select movie")
    @Html.DropDownList("MovieId")

    <input type="submit" value="Save" />
  }
}
else
{
  <p>There are no movies to add to this director</p>
}