@{
  Layout = "_Layout";
}

@model Filmography.Models.Director

<header>
  <p id="list1"><strong>@Html.ActionLink("DIRECTORS", "Index")</strong></p>
  <p id="edit"><strong>@Html.ActionLink("EDIT DIRECTOR", "Edit", new { id = Model.DirectorId })</strong></p>
  <p id="delete"><strong>@Html.ActionLink("DELETE DIRECTOR", "Delete", new { id = Model.DirectorId })</strong></p>
  <p id="list2"><strong>@Html.ActionLink("ADD A MOVIE", "AddMovie", new { id = Model.DirectorId })</strong></p>
</header>
<div id="push"></div>
<h1>Director Details</h1>
<hr />
<img src="~/img/popcorn.png" alt="popcorn" width="100">
<h3>Name:</h3>
<p><strong><em>@Html.DisplayFor(model => model.DirectorName)</em></strong></p>

<h4>Movies directed:</h4>
<ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li><strong><em></em>@Html.ActionLink($"{@join.Movie.MovieName}", "Details", "Movies", new { id = join.Movie.MovieId })</strong></li>
    @using (Html.BeginForm("DeleteMovie", "Director"))
    {
      @Html.Hidden("joinId", @join.MovieWikiId)
      <input type="submit" value="Delete" class="btn btn-warning"/>
    }
  }
</ul>
<br>