@{
  Layout = "_Layout";
}

@model Filmography.Models.Actor

<header>
  <p><strong>@Html.ActionLink("ACTORS", "Index")</strong></p>
  <p id="list1"><strong>@Html.ActionLink("EDIT ACTOR", "Edit", new { id = Model.ActorId })</strong></p>
  <p id="list2"><strong>@Html.ActionLink("DELETE ACTOR", "Delete", new { id = Model.ActorId })</strong></p>
</header>

<h1>Actor Details</h1>
<hr />
<h3>Name:</h3>
<p><strong><em>@Html.DisplayFor(model => model.ActorName)</em></strong></p>

  <h4>Movies this actor was in:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li><strong><em>@Html.ActionLink($"{@join.Movie.MovieName}", "Details", "Movies", new { id = join.Movie.MovieId })</em></strong></li>
    @using (Html.BeginForm("DeleteMovie", "Actors"))
    {
      @Html.Hidden("joinId", @join.MovieWikiId)
      <input type="submit" value="Delete" class="btn btn-warning"/>
    }
  }
  </ul>
<br>

<p>@Html.ActionLink("Add a Movie", "AddMovie", new { id = Model.ActorId })</p>
<div id="get-low"></div>