@{
  Layout = "_Layout";
}

@model Filmography.Models.Movie;

<header>
  <p><strong>@Html.ActionLink("MOVIES", "Index")</strong></p>
</header>
<div id="push"></div>

@if (@ViewBag.num != 0)
{
  <h2>Add an actor</h2>
  <h4>Add an actor to this movie: @Html.DisplayFor(model => model.MovieName)</h4>
  @using (Html.BeginForm())
  {
    @Html.Hidden("MovieId")
    @Html.Label("Select actor")
    @Html.DropDownList("ActorId")
    <input type="submit" value="Save" />
  }
}
else
{
  <h3>There are no actors left, make a new actor</h3>
}