@{
  Layout = "_Layout";
}

@model Filmography.Models.Movie

<header>
  <p><strong>@Html.ActionLink("MOVIES", "Index")</strong></p>
</header>
<div id="push"></div>
<h4>Add a new movie</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MovieName)
  @Html.TextBoxFor(model => model.MovieName)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Add New Movie" />
}