@{
  Layout = "_Layout";
}

@model Filmography.Models.Movie;

<h2>Movie Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.MovieName): @Html.DisplayFor(model => model.MovieName)</h3>
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This movie has not been added to the Database yet</p>
}
else
{
  <h4>The actors this film contains:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Actor.ActorName</li>
    <li>@Html.ActionLink($"{@join.Course.Name}", "Details", "Courses", new { id = join.Course.CourseId })</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to  movie list", "Index")</p>
<p>@Html.ActionLink("Edit Movie", "Edit", new { id = Model.MovieId })</p>
<p>@Html.ActionLink("Delete Movie", "Delete", new { id = Model.MovieId })</p>